# **SUPERBOWL ADS PROJECT**
### **PROBLEM STATEMENT**
A beverage brand named Atom is looking to place an advertisement during the superbowl. In preparation for this, they hired Team Poderoso to leverage superbowl advertisement datasets and provide useful insights that they can use while creating their ad.

In [1]:
import pandas as pd

In [2]:
path="/content/superbowl-ads.csv"
df=pd.read_csv(path)
df.head(2)

,year,brand,brand_type,superbowl_ads_dot_com_url,youtube_url,funny,show_product_quickly,patriotic,celebrity,danger,animals,use_sex
0,2018,Toyota,car,https://superbowl-ads.com/good-odds-toyota/,https://www.youtube.com/watch?v=zeBZvwYQ-hA,False,False,False,False,False,False,False
1,2020,Bud Light,beverage,https://superbowl-ads.com/2020-bud-light-seltz...,https://www.youtube.com/watch?v=nbbp0VW7z8w,True,True,False,True,True,False,False

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///superbowl_ads.db

In [5]:
%%sql CREATE TABLE brand_details(
brand VARCHAR(30),
brand_type VARCHAR(20),
year_advertised VARCHAR(30),
funny VARCHAR(20),
show_product_quickly VARCHAR(20),
patriotic VARCHAR(20),
celebrity VARCHAR(20),
danger VARCHAR(20),
animals VARCHAR(20),
use_sex VARCHAR(20)
);

 * sqlite:///superbowl_ads.db
Done.

[]

In [6]:
%%sql INSERT INTO brand_details VALUES
('Toyota','car','2018','FALSE','FALSE','FALSE','FALSE','FALSE','FALSE','FALSE'),
('Coca Cola','beverage','2020','TRUE','FALSE','FALSE','TRUE','FALSE','TRUE','FALSE'),
('NFL','sports','2020','FALSE','FALSE','TRUE','TRUE','FALSE','FALSE','FALSE'),
('Budweiser','beverage','2007','TRUE','TRUE','FALSE','FALSE','FALSE','TRUE','TRUE'),
('Doritos','food','2015','TRUE','TRUE','TRUE','FALSE','FALSE','TRUE','FALSE'),
('Pepsi','beverage','2019','TRUE','TRUE','FALSE','TRUE','FALSE','FALSE','FALSE'),
('Bud Light','beverage','2004','TRUE','TRUE','FALSE','TRUE','FALSE','FALSE','TRUE'),
('E-Trade','miscellaneous','2002','TRUE','TRUE','FALSE','FALSE','FALSE','TRUE','TRUE'),
('Kia','car','2019','FALSE','FALSE','TRUE','FALSE','FALSE','FALSE','FALSE'),
('Hynudai','car','2014','TRUE','FALSE','FALSE','FALSE','TRUE','FALSE','TRUE');

 * sqlite:///superbowl_ads.db
10 rows affected.

[]

In [7]:
%%sql CREATE TABLE beverage_brand_details(
brand VARCHAR(30),
brand_type VARCHAR(20),
year_advertised VARCHAR(30),
funny VARCHAR(20),
show_product_quickly VARCHAR(20),
patriotic VARCHAR(20),
celebrity VARCHAR(20),
danger VARCHAR(20),
animals VARCHAR(20),
use_sex VARCHAR(20)
);

 * sqlite:///superbowl_ads.db
Done.

[]

In [8]:
%%sql INSERT INTO beverage_brand_details
SELECT *
FROM brand_details
WHERE brand_type ="beverage";

 * sqlite:///superbowl_ads.db
4 rows affected.

[]

In [9]:
%sql SELECT * FROM beverage_brand_details;

 * sqlite:///superbowl_ads.db
Done.

[('Coca Cola', 'beverage', '2020', 'TRUE', 'FALSE', 'FALSE', 'TRUE', 'FALSE', 'TRUE', 'FALSE'),
 ('Budweiser', 'beverage', '2007', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'TRUE'),
 ('Pepsi', 'beverage', '2019', 'TRUE', 'TRUE', 'FALSE', 'TRUE', 'FALSE', 'FALSE', 'FALSE'),
 ('Bud Light', 'beverage', '2004', 'TRUE', 'TRUE', 'FALSE', 'TRUE', 'FALSE', 'FALSE', 'TRUE')]

a. The number of beverage brands whose advertisements were funny

In [31]:
%%sql SELECT COUNT(funny) AS funny_count
FROM beverage_brand_details
WHERE funny='TRUE';

 * sqlite:///superbowl_ads.db
Done.

[(4,)]

b. The number of beverage brands where products were shown quickly

In [27]:
%%sql SELECT COUNT(show_product_quickly) as products
FROM beverage_brand_details
WHERE show_product_quickly= "TRUE";

 * sqlite:///superbowl_ads.db
Done.

[(3,)]

c. The number of brands which advertised beverages

In [30]:
%%sql SELECT COUNT(brand_type) as beverage_brands
FROM brand_details
WHERE brand_type='beverage';

 * sqlite:///superbowl_ads.db
Done.

[(4,)]

d. The number of beverage brands which produced ads that were patriotic

In [32]:
%%sql SELECT COUNT(patriotic) as patriotic_count
FROM beverage_brand_details
WHERE patriotic="TRUE";

 * sqlite:///superbowl_ads.db
Done.

[(0,)]

e. The number of beverage brands that included an animal in their advertisement

In [34]:
%%sql SELECT COUNT(animals) as animal_count
FROM beverage_brand_details
WHERE animals="TRUE";

 * sqlite:///superbowl_ads.db
Done.

[(2,)]